node_modules
dist
lib
.turbo
*.log
.DS_Store
.env
.env.local
.env.*.local
.env.production
firebase-service-account.json
coverage
.vscode/*
!.vscode/extensions.json
packages/sdk/src
!packages/sdk/src/.gitkeep
.firebase-data
firebase-debug.log
ui-debug.log
